* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
    height: 700px;
    border: 2px solid cyan;
    background-color: #1e004f;
}
.nav{
    /* display: flex; */
    height: 30px;
    border: 2px solid cyan;
    padding: 10px;
    margin: 5px;
    color: white;
    width: 100px;
    height: 30px;
}
.header{
    /* display: flex; */
    /* flex-direction: row;
    align-items: center; */
    justify-content: center;
    border: 2px solid cyan;
    padding: 10px;
    margin: 5px;
    color: white;
    height: 50px;
    width:300px;

    
}
.main,
.sidebar{
    border: 2px solid cyan;
    padding: 10px;
    margin: 5px;
    color: white;
}
.footer {
    border: 2px solid cyan;
    padding: 10px;
    margin: 5px;
    color: white;
}


.main {
    flex: 1;
    border-color: magenta;
}

.sidebar {
    height: 100px;
    border-color: magenta;
}

.footer {
    height: 50px;
}
